body {
    background-color: darkseagreen;
}
.titulo {
    background-color: rgba(14, 235, 114, 0.731);
    text-align: center; 
    font-family: cursive;  -webkit-text-stroke: 2px black;
    color: transparent;
}   